﻿@model WebShop.ViewModels.ProductVM

@{
    ViewData["Title"] = "Details";
}

<br />

<div>
    <h4>@Html.DisplayFor(model => model.Product.Name)</h4>
    <hr />
    
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Product.Department)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Department)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Price)
            @Html.DisplayFor(model => model.Product.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Store)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Store)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Instock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Instock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>
        <dd>
            <img src=@Html.DisplayFor(model => model.Product.Image) alt="image" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Product List</a> |
    <a asp-action="Cart">Back to My Cart</a>
</div>
