﻿@model WebShop.ViewModels.ProductVM

@{
    ViewData["Title"] = "All Products";
}
<br />
<br />

<p>
    <a asp-action="InStock">Products in Stock</a> |
    <a asp-action="Cart">See My Cart</a> |
    <a asp-action="InStock">Add Products to Cart</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group">
        <input name="search" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search by store" class="btn btn-default" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Instock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) @Html.DisplayFor(modelItem => item.Currency)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Instock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store)
            </td>
        </tr>
        }
    </tbody>
</table>

