﻿@{
    ViewData["Title"] = "Home Page";
}

<br />
<br />

<h4>Welcome to the test Web-shop page!</h4>
<hr />
<h4>For viewing the content of the Cart and adding products into the Cart you need to be registered and logged in!</h4>
<p>A new cart is created upon every login.</p>
<p>It is only possible to add products that are in stock.</p>
<hr />
<h4>On reigistration please keep in mind the following requirements for the password:</h4>
<p>The passwords must be at least 6 characters.</p>
<p>The passwords must have at least one non alphanumeric character.</p>

<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
    <div class="col-md-3">

    </div>
</div>
